<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="countries.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js" defer></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous" defer></script>
  <script src="signup.js" defer></script>
  <style>
    .hide {
      display: none;
    }
    .validation {
      color: red;
      display: inline-block;
    }
    .red {
      background-color: rgb(247, 180, 180);
    }
  </style>
</head>
<body>
  <div id="app">
    <form>

      <!-- Email input -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input v-model.lazy:value="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text hide" :class="{'validation': !validateEmail}">Please provide valid email</div>
      </div>

      <!-- Password input -->
      <div class="mb-3">
        
        <label for="exampleInputPassword1" class="form-label">Password</label>

        <input v-model:value="password" type="password" class="form-control" id="exampleInputPassword1">
        <div class="form-text hide" :class="{'validation': !passwordLength}">Password should be maore than 5 characters long</div>
        <br>
        <label for="exampleInputPassword2" class="form-label">Re-type Password</label>
        <input v-model:value="password2" type="password" class="form-control" id="exampleInputPassword2">
        <div class="form-text hide" :class="{'validation': !passwordMatch}">Passwords should be the same</div>

      </div>

      <!-- Country input -->
      <label for="country" class="form-label">Where are you from?</label>
      <div id="country">
        <select v-model="selected">
          <option selected="selected" disabled>Select Country</option>
          <option v-for="(value, idx) in countries" :key="idx">{{ value.name }}</option>
        </select>
      </div>
      <br>

      <!-- Gender input -->
      <label for="gender" class="form-label">Gender</label>
      <div id="gender">
        <input type="radio" id="Male" value="Male" v-model="pickedGender">
        <label for="Male">Male</label>

        <input type="radio" id="Female" value="Female" v-model="pickedGender">
        <label for="Female">Female</label>

        <input type="radio" id="Undisclosed" value="Undisclosed" v-model="pickedGender">
        <label for="Undisclosed">Undisclosed</label>
      </div>
      <br>

      <!-- Birthday input -->
      <label for="birthday" class="form-label">Birthday</label>
      <div id="birthday">
        <input type="date" name="" id="" v-model="date">
      </div>
      <div class="form-text hide" :class="{'validation': !validateAge}">You should be 18 years old to register</div>
      <br><br>

      <!-- Terms input -->
      
      <div class="mb-3 form-check">
          <input type="checkbox" id="checkbox-terms" v-model="checkedTerms">
          <label for="checkbox"> I accept terms of use </label>
      </div>
      <div class="form-text hide" :class="{'validation': !acceptTerms}">You must accept Terms of Use to register</div>

      <!-- Mailing List input -->
      <div class="mb-3 form-check">
        <input type="checkbox" id="checkbox-maillist" v-model="checkedMailing">
        <label for="checkbox">Add me to mailing list</label>
      </div>
      <br>

      <!-- Submit form -->
      <div @click="validate()" class="btn btn-primary">Sign Up</div>
    </form>
  </div>
  
</body>
</html>