<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="countries.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js" defer></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous" defer></script>
  <script src="signup.js" defer></script>
  <style>
    .red {
      background-color: rgb(247, 180, 180);
    }
  </style>
</head>
<body>
  <div id="app">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input v-model:value="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input v-model:value="password" type="password" class="form-control" id="exampleInputPassword1">
        <input :class="{'red': !checkpass}" v-model:value="password2" type="password" class="form-control" id="exampleInputPassword1">
      </div>

      <div>
        <select v-model="selected">
          <option selected disabled>Select Country</option>
          <option v-for="(value, idx) in countries" :key="idx">{{ value.name }}</option>
        </select>
      </div>

      <div>
        <input type="radio" id="Male" value="Male" v-model="pickedGender">
        <label for="Male">Male</label>

        <input type="radio" id="Female" value="Female" v-model="pickedGender">
        <label for="Female">Female</label>

        <input type="radio" id="Undisclosed" value="Undisclosed" v-model="pickedGender">
        <label for="Undisclosed">Undisclosed</label>
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button @click="validate()" type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
  
</body>
</html>